<h1>Historico de reservas</h1>

<div class="basic-container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of roomsData">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Hotel:</strong>h1
                </mat-panel-title>
                <mat-panel-description>
                    <strong>Tipo de habitación:</strong>SINGLE
                    <strong style="padding-left:5em">Fecha de la reserva:</strong>6/6/6
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

    </mat-accordion>
</div>